.fadein{
  animation-name: fadeinAnimation;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
}

@keyframes fadeinAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
